<div class="terminal-window">
  <div class="terminal-bar"></div>
    <h1 class="main_font" appShowText delay="1900">{{ translationService.translate('projectstitle') }}</h1>
    <div class="main_font" appShowText delay="2100">{{ translationService.translate('projectscontent1') }}</div>
    <div class="main_font" appShowText delay="2300">{{ translationService.translate('projectscontent2') }}</div>
    <div class="main_font" appShowText delay="2500">{{ translationService.translate('projectscontent3') }}</div>
    <div class="main_font" appShowText delay="2700">{{ translationService.translate('projectscontent4') }}</div>
    <div class="main_font" appShowText delay="2900">{{ translationService.translate('projectscontent5') }}</div>
    <div class="main_font" appShowText delay="3100">{{ translationService.translate('projectscontent6') }}</div>
    <div class="main_font" appShowText delay="3300">{{ translationService.translate('projectscontent7') }}</div>
    <div class="main_font" appShowText delay="3500">{{ translationService.translate('projectscontent8') }}</div>
    <div class="main_font" appShowText delay="3700">{{ translationService.translate('projectscontent9') }}</div>
    <div class="main_font" appShowText delay="3900">{{ translationService.translate('projectscontent10') }}</div>
    <div class="main_font" appShowText delay="4100">{{ translationService.translate('projectscontent11') }}</div>
    <div class="main_font" appShowText delay="4300">{{ translationService.translate('projectscontent12') }}</div>
    <div class="main_font" appShowText delay="4500">{{ translationService.translate('projectscontent13') }}</div>
    <div class="main_font" appShowText delay="4700">{{ translationService.translate('projectscontent14') }}</div>
    <div class="main_font" appShowText delay="4900">{{ translationService.translate('projectscontent15') }}</div>
    <div class="main_font" appShowText delay="5100">{{ translationService.translate('projectscontent16') }}</div>
  <div class="underscore_font" appShowText delay="7000">></div>
</div>
