<div class="terminal-window">
    <h1 class="main_font" appShowText delay="0">Profile</h1>
    <div class="main_font" appShowText delay="2000">
        Fascinated by the field of industry and science since middle school, 
        I discovered a real passion for computers and electronics from high school.  
        I thus decided to join an engineering school and an apprenticeship to deepen my knowledge.  
        Always looking for a challenge and new technologies to discover.
    </div> 
    <span class= "typed-cursor">_</span>
  </div>
