<div class="terminal-window">
    <div class="terminal-bar"></div>
    <br>
    <div class="main_font" appShowText delay="800">{{ translationService.translate('floriancontent1') }}</div>
    <div class="main_font" appShowText delay="1100">{{ translationService.translate('floriancontent2') }}</div>
    <div class="main_font" appShowText delay="1500">{{ translationService.translate('floriancontent3') }}</div>
    <div class="main_font" appShowText delay="1800">{{ translationService.translate('floriancontent4') }}</div>
    <div><a class="main_font" href="http://www.linkedin.com/in/florian-savalle-76aa63205/" appShowText delay="2100">Linkedin</a></div>
    <div><a class="main_font" href="../../assets/CV_Florian_SAVALLE.pdf" appShowText delay="2300">CV</a></div>
    <div class="underscore_font" appShowText delay="3500">></div>
</div>
