.maindiv {
    margin-top: 30px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr  ;
}

.nameinfo {
    margin: 50px; 
    width: 60%;   
}

.profileinfo {
    margin: 50px;    
    margin-left: -20%;
}

.miscinfo {
    margin: 50px;    
}

.projectsinfo {
    margin: 50px;
}

.experienceinfo {
    margin: 50px;    
}

.passionsinfo {
    margin: 50px;    
}

.studiesinfo {
    margin: 50px;    
}

.fr_btn {
    position: absolute;
    top: 10px; 
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}
.fr_btn:hover{
    filter: brightness(1.5);
}

.en_btn {
    position: absolute;
    top: 10px; 
    right: 60px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}
.en_btn:hover{
    filter: brightness(1.5);
}
