<button (click)="useFrench()" class="fr_btn">Français</button>
<button (click)="useEnglish()" class="en_btn">English</button>
<div class = "nameinfo" > <app-nameinfo> </app-nameinfo> </div>
<div class = "profileinfo" > <app-profileinfo></app-profileinfo> </div>
<div class = "miscinfo" > <app-miscinfos></app-miscinfos> </div>
<div class = "experienceinfo" > <app-experienceinfo></app-experienceinfo> </div>
<div class = "studiesinfo" > <app-studiesinfo></app-studiesinfo> </div>
<div class = "passionsinfo" > <app-passionsinfo></app-passionsinfo> </div>