<img src="../assets/frflag.png" alt="FR" class="fr_btn" (click)="useFrench()">
<img src="../assets/enflag.png" alt="EN" class="en_btn" (click)="useEnglish()">

<div class="maindiv">
    <div class = "container">
        <div class = "nameinfo boxinfo" > <app-nameinfo> </app-nameinfo> </div>
        <div class = "container2">
            <div class = "container">
                <div class = "florianinfo boxinfo" > <app-florianinfo> </app-florianinfo> </div>
                <div class = "pictureinfo boxinfo" > <app-pictureinfo> </app-pictureinfo> </div>
            </div>
            <div class = "profileinfo boxinfo" > <app-profileinfo></app-profileinfo> </div>
        </div>
    </div>
    <div class = "container">
        <div class = "experienceinfo boxinfo" > <app-experienceinfo></app-experienceinfo> </div>
        <div class = "projectsinfo boxinfo"> <app-projectsinfo></app-projectsinfo></div>
    </div>
    <div class = "container">
        <div class = "studiesinfo boxinfo" > <app-studiesinfo></app-studiesinfo> </div>
        <div class = "miscinfo boxinfo" > <app-miscinfos></app-miscinfos> </div>
    </div>
    <div class = "passionsinfo boxinfo" > <app-passionsinfo></app-passionsinfo> </div>
</div>