.nameinfo {
    margin: 50px;    
}

.profileinfo {
    margin: 50px;    
}

.miscinfo {
    margin: 50px;    
}

.experienceinfo {
    margin: 50px;    
}

.passionsinfo {
    margin: 50px;    
}

.studiesinfo {
    margin: 50px;    
}