.maindiv {
    margin-top: 30px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr  ;
}

.container2{
    margin-left: -250px;
}

.boxinfo {
    margin: 50px;
}

.nameinfo {
    width: 60%;   
}

.fr_btn {
    position: absolute;
    top: 10px; 
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    box-shadow: 0 0 10px 2px black;
}
.fr_btn:hover{
    filter: brightness(1.5);
}

.en_btn {
    position: absolute;
    top: 10px; 
    right: 60px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    box-shadow: 0 0 10px 2px black;
}
.en_btn:hover{
    filter: brightness(1.5);
}
