<div class="terminal-window">
    <div class="terminal-bar"></div>
    <h1 class="main_font" appShowText delay="50">{{ translationService.translate('misctitle') }}</h1>
    <div class="main_font" appShowText delay="2000"> {{ translationService.translate('misccontent1') }}</div> 
    <div class="main_font" appShowText delay="2500"> {{ translationService.translate('misccontent2') }}</div> 
    <div class="main_font" appShowText delay="3000"> {{ translationService.translate('misccontent3') }}</div> 
    <div class="main_font" appShowText delay="3500"> {{ translationService.translate('misccontent4') }}</div> 
    <span class= "typed-cursor">_</span>
</div>
