<div class="terminal-window">
    <div class="terminal-bar"></div>
    <h1 class="main_font" appShowText delay="4200">{{ translationService.translate('misctitle') }}</h1>
    <div class="main_font" appShowText delay="4500"> {{ translationService.translate('misccontent1') }}</div> 
    <div class="main_font" appShowText delay="4800"> {{ translationService.translate('misccontent2') }}</div> 
    <div class="main_font" appShowText delay="5100"> {{ translationService.translate('misccontent3') }}</div> 
    <div class="main_font" appShowText delay="5400"> {{ translationService.translate('misccontent4') }}</div> 
    <div class="underscore_font" appShowText delay="8600">></div> 
</div>
