<div class="terminal-window">
    <div class="terminal-bar"></div>
    <h1 class="main_font" appShowText delay="2000">{{ translationService.translate('experiencetitle') }}</h1>
    <div class="main_font" appShowText delay="2200">{{ translationService.translate('experiencecontent1') }}</div>
    <div class="main_font" appShowText delay="3000">{{ translationService.translate('experiencecontent2') }}</div>
    <div class="main_font" appShowText delay="3800">{{ translationService.translate('experiencecontent3') }}</div>
    <div class="main_font" appShowText delay="4600">{{ translationService.translate('experiencecontent4') }}</div>
  <div class="underscore_font" appShowText delay="7600">></div>
  </div>
