.pic {
    box-shadow: inset 0 0 10px 2px black;
}

.special {
    width: 20%;
    position: relative;
    overflow: hidden;
}

.image-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.image-container .pic {
    display: block; 
    max-width: 100%;
    height: auto;
}