/* You can add global styles to this file, and also import other style files */
.main_background {
    background-color: #000;
}

.secondary_background {
    background-color: #4C4C47;
}

.main_font {
    color: white;
    font-family: monospace;
}

.terminal-window {
    background-color: #000;
    color: white;
    font-family: Courier;
    padding: 10px;
    overflow: hidden;
    width: 100%;
}

.hidden-text {
    visibility: hidden;
  }
  
  .blink {
    animation: blink 1s steps(5, start) infinite;
  }
  
  @keyframes blink {
    to {
      visibility: hidden;
    }
}