.main_background {
    background-color: #000;
}

.secondary_background {
    background-image: url(assets/bliss.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main_font {
    color: white;
    font-family: monospace;
}

.terminal-window {
    background-color: #000;
    color: white;
    font-family: Courier;
    padding: 10px;
    border: 5px solid #353532;
    box-shadow: 0 0 10px 2px black;
}

.hidden-text {
    visibility: hidden;
  }
  
  .blink {
    animation: blink 1s steps(5, start) infinite;
  }
  
  @keyframes blink {
    to {
      visibility: hidden;
    }
}

.terminal-bar{
  background-color: #353532;
  height: 15px;
  margin: -10px;
}